# Opdracht gemaakt door Robin Spiers
## UvA ID: 11829494

# Informatievisualisatie - Individuele opdracht

Het doel van deze **individuele** opdracht is om een aantal plot.ly visualisaties te maken op basis van data uit csv bestanden. De opdrachtbeschrijving begint met een voorbeeld over hoe je data kan inladen en vervolgens visualiseren, vervolgens zijn er **drie** opdrachten waarvoor je een visualisatie moet maken.

Het eerste aanspreekpunt voor vragen over de opdracht is de studentassistent verantwoordelijk voor jouw groep.

|  Naam | E-mail | Groep |
| ---------------------------- | --------- | ------------|
| Sander Siepel | sander.siepel@student.uva.nl | A |
| Sarah Ibrahimi | s.ibrahimi@uva.nl | B |

**Deadline: 12 juni 23:59 CEST**

Inleveren op Blackboard. Lever alleen het .ipynb bestand in, zonder de CSV bestanden of de plaatjes.

**Let op:** Zorg dat alles werkt als de kernel opnieuw gestart is. Dit kan je testen door in het menu bovenaan `Kernel` > `Restart & Run All` te kiezen.

## Installatie

Voor deze opdracht heb je plotly en pandas nodig, hieronder installatieinstructies voor deze packages met en zonder Anaconda.

*Met Anaconda:*

`conda install -c plotly plotly`

`conda install pandas`

*Zonder Anaconda:*

`pip install plotly`

`pip install pandas`

## Voorbeeld

Om dit voorbeeld en opdracht 1 te kunnen maken heb je `marriage.csv` nodig. 

Dit bestand bevat de cijfers voor het percentage *niet* getrouwde mensen in de VS tussen de 25 en 34. Dit bestand is een subset van de `both_sexes.csv` dataset van [FiveThirtyEight](http://fivethirtyeight.com/), publiek beschikbaar in hun Github repository: https://github.com/fivethirtyeight/data/tree/master/marriage.

In [1]:
# Deze cell importeert een aantal functies en modules 
# die je nodig hebt om deze opdracht te maken.

from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go

# Start notebook mode
init_notebook_mode(connected=True)

# pandas om de CSV data te laden en te visualiseren
import pandas as pd

Om het csv bestand in te lezen gebruiken we de `read_csv` functie vanuit pandas. Deze functie leest de csv in en maakt er een pandas dataframe van. Een dataframe maakt het makkelijk om de data te bekijken en te verwerken.

Met de `head()` methode kunnen we bijvoorbeeld de eerste `n` rijen tonen van de csv.

In [2]:
df = pd.read_csv('marriage.csv')

df.head(n=10) # eerste 10 van de in totaal 17 rijen

,year,all,HS,SC,BAp,BAo,GD,White,Black,Hisp,NE,MA,Midwest,South,Mountain,Pacific,poor,mid,rich
0,1960,0.123314,0.109533,0.152282,0.238995,0.238995,0.000000,0.116485,0.162186,0.139374,0.150418,0.162893,0.112147,0.109056,0.091521,0.119876,0.137160,0.075149,0.206678
1,1970,0.126971,0.109400,0.149510,0.218703,0.218703,0.000000,0.117904,0.185516,0.129877,0.151723,0.164068,0.115374,0.112622,0.102936,0.137496,0.171720,0.081592,0.172409
2,1980,0.199177,0.161731,0.223692,0.288165,0.288165,0.000000,0.182413,0.313750,0.188544,0.241433,0.250593,0.182834,0.168844,0.174342,0.233428,0.310059,0.148253,0.185108
3,1990,0.296831,0.277749,0.278091,0.361297,0.365665,0.347451,0.263926,0.483856,0.296237,0.350038,0.362332,0.275505,0.263979,0.252643,0.331958,0.419911,0.243200,0.278323
4,2000,0.345009,0.331655,0.324921,0.387491,0.393958,0.369174,0.312715,0.514499,0.318068,0.409185,0.417557,0.330802,0.309971,0.306210,0.375306,0.503368,0.302020,0.271739
5,2001,0.352777,0.344607,0.334110,0.383569,0.392515,0.359030,0.318351,0.543798,0.332121,0.420058,0.429428,0.334433,0.318269,0.309808,0.384480,0.517877,0.317161,0.253204
6,2002,0.353525,0.349037,0.336160,0.377433,0.387084,0.351285,0.319669,0.540398,0.331261,0.407804,0.429053,0.339704,0.323028,0.296866,0.383692,0.517425,0.318240,0.253472
7,2003,0.362035,0.358188,0.341893,0.387381,0.400004,0.353813,0.325681,0.556895,0.341751,0.431192,0.447992,0.347571,0.325014,0.310719,0.394690,0.529728,0.328232,0.251606
8,2004,0.367325,0.370810,0.345075,0.384736,0.397612,0.351773,0.330628,0.572402,0.348579,0.449085,0.449402,0.352380,0.334153,0.310789,0.397215,0.536758,0.335613,0.252254
9,2005,0.379345,0.387068,0.359666,0.388610,0.402912,0.351425,0.343876,0.575173,0.358954,0.450972,0.463851,0.362480,0.347382,0.341278,0.403881,0.551922,0.347668,0.262045

Vervolgens kunnen we bepaalde kolommen selecteren met een syntax die vergelijkbaar is als voor python dictionaries. `df['year']` geeft dus de eerste kolom terug.

Op deze manier kunnen we gemakkelijk data selecteren en deze visualiseren met plot.ly. In de volgende cel een voorbeeld van een bar chart op basis van de `year` kolom en de `all` kolom, oftewel het totaal percentage mensen tussen de 25 en 34 wat **niet** getrouwd is.

In [3]:
trace = go.Bar(
    x=df['year'],
    y=df['all']
)
iplot([trace])

Er vallen direct een aantal zaken op als we naar de bovenstaande bar chart kijken. Ten eerste is er een 'vreemde' verdeling van de bars, maar als we naar de data kijken zien we dat dit klopt, maar wellicht niet heel mooi is. 

Daarnaast valt wellicht ook op dat de schaal van de y-as niet duidelijk maakt dat het een percentage is. Deze zaken kunnen we beide oplossen. Voor de x-as kunnen we aangeven dat het een categorische as is, in plaats van een schaal. Voor de y-as kunnen we het tonen als een percentage. Hieronder de code om dit te doen.

In [4]:
# Maak een layout object aan waarin de specificaties staan voor de X en Y assen.
layout = go.Layout(
    xaxis=go.XAxis(
        type='category' # het type van de X as is categorisch
    ),
    yaxis = go.YAxis(
        tickformat = ',.0%', # toon als percentage
    )
)

data = go.Data([trace])
fig = go.Figure(data=data, layout=layout)
iplot(fig)

## Opdracht 1

Aan jou is het nu, om voor de eerste opdracht een grouped bar chart te maken op basis van deze dataset, waarbij de groepen bestaan uit drie verschillende inkomensgroepen (`poor`, `mid`, en `rich`)

<img src="groupedbar.png">

**Vereisten:**
- Plot titel
- As labels
- Legenda met correcte namen
- Gegroupeerde en gekleurde bars voor elke inkomensgroep
- Geheel met plot.ly
- Op basis van de data uit het csv bestand

In [5]:
# Code voor opdracht 1 hier

# traces aanmaken voor de verschillende inkomensgroepen
laag = go.Bar(
    x=df['year'],
    y=df['poor'],
    name='Laag')

mid = go.Bar(
    x=df['year'],
    y=df['mid'],
    name='Midden') 

hoog = go.Bar(
    x=df['year'],
    y=df['rich'],
    name='Hoog') 

layout = go.Layout(
    title='Percentage niet-getrouwden in de VS tussen de 25 en 34 naar inkomen', # titel toevoegen
    barmode='group', # barmode instellen voor group
    xaxis=go.XAxis(
        title='Jaar', # label voor de X as
        type='category' # het type van de X as is categorisch
    ),
    yaxis = go.YAxis(
        title='Percentage niet-getrouwd', # label voor de Y as
        tickformat = ',.0%', # toon als percentage
    )
)

data = [laag,mid,hoog] # de drie traces samenvoegen tot één lijst
fig = go.Figure(data=data, layout=layout)
iplot(fig)

## Opdracht 2

De tweede opdracht is op basis van `Bestaande_koopwoning.csv` op basis van data van het [CBS](http://statline.cbs.nl/Statweb/publication/?DM=SLNL&PA=83910NED&D1=3&D2=1-6&D3=114&HDR=T,G1&STB=G2&VW=T) en bevat de aantallen verkochte huizen in 2017 in Nederland, naar huis-type.

Voor deze opdracht moet je op basis van deze dataset een donut chart maken waarin deze data wordt getoond, uitgesplitst naar type huis.

<img src="donutchart.png">

**Vereisten:**
- Plot titel
- Geen legenda
- Tekst en percentage rondom de donut chart
- Geheel met plot.ly
- Op basis van de data uit het csv bestand

*Tips:*
- In de documentatie van plot.ly is te vinden hoe bepaalde opties (zoals de tekst positie of de tekst info) aangepast kunnen worden: https://plot.ly/python/reference/#pie

In [6]:
# Code voor opdracht 2 hier

# nieuwe dataset instellen
woning_df = pd.read_csv('Bestaande_koopwoning.csv')

# pie chart instellen
pie=go.Pie(
    labels=woning_df['Type woning'], # type woning als label
    values=woning_df['Aantal'], # percentage als value
    showlegend=False, # legenda weghalen
    textposition = 'outside', # text buiten de chart
    textinfo = 'label+percent' # label en percentage weergeven
)

layout = go.Layout(
    title='Verkochte huizen in Nederland, naar type, in 2017' # titel toevoegen
)

pie.update(dict(hole=0.8)) # donut chart maken door hole in te stellen
data=go.Data([pie])
fig = go.Figure(data=data, layout=layout)
iplot(fig)

## Opdracht 3

De veelgebruikte iris flower dataset beschrijft een viertal eigenschappen van drie soorten irissen: setosa, versicolor, en virginica. Op basis van deze dataset is de setosa het makkelijkst te onderscheiden van de twee andere bloemsoorten.

Visualiseer minimaal twee features (kolommen) van deze dataset, waarbij het onderscheid tussen iris setosa en de twee andere bloemsoorten duidelijk te zien is. 

**Vereisten:**
- Minimaal twee features
- Labels op X en Y as
- Onderscheid tussen iris setosa en overige data duidelijk 
- Toelichting (van maximaal 3 zinnen) waarom 
- Andere kleur in de visualisatie voor elke bloemsoort
- Correcte naam voor de bloemsoort in de legenda
- Geheel met plot.ly
- Op basis van de data uit het csv bestand

*Tips*:
- `iris_df['Name'].unique()` geeft een lijst met de bloemsoorten zoals ze in de dataset staan
- In pandas kan je een subset van alle iris setosa uit de dataset selecteren met `iris_df[iris_df['Name'] == 'Iris-setosa']`

In [7]:
# Naast lokale bestanden accepteert `read_csv` ook URLs.
# Dit laad de iris dataset in vanuit de github repositority van pandas
iris_df = pd.read_csv(
    'https://raw.githubusercontent.com/pandas-dev/pandas/master/pandas/tests/data/iris.csv'
)
iris_df.head()

iris_df['Name'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [8]:
# Code voor opdracht 3 hier

# traces aanmaken voor de verschillende bloemsoorten
setosa = go.Bar(
    x=['Gemiddelde Kelkblad Breedte', 'Gemiddelde Bloemblad Breedte'], # X as instellen
    # Y as instellen, gemiddelde SepalWith en gemiddelde PetalWidth
    y=[iris_df[iris_df['Name'] == 'Iris-setosa']['SepalWidth'].mean() ,iris_df[iris_df['Name'] == 'Iris-setosa']['PetalWidth'].mean()],
    name='Iris Setosa',
    marker=dict(color='rgb(149,70,254)')) # kleur instellen

versicolor = go.Bar(
    x=['Gemiddelde Kelkblad Breedte', 'Gemiddelde Bloemblad Breedte'], # X as instellen
    # Y as instellen, gemiddelde SepalWith en gemiddelde PetalWidth
    y=[iris_df[iris_df['Name'] == 'Iris-versicolor']['SepalWidth'].mean(),iris_df[iris_df['Name'] == 'Iris-versicolor']['PetalWidth'].mean()],
    name='Iris Versicolor',
    marker=dict(color='rgb(138,69,179)')) # kleur instellen

virginica = go.Bar(
    x=['Gemiddelde Kelkblad Breedte', 'Gemiddelde Bloemblad Breedte'], # X as instellen
    # Y as instellen, gemiddelde SepalWith en gemiddelde PetalWidth
    y=[iris_df[iris_df['Name'] == 'Iris-virginica']['SepalWidth'].mean(),iris_df[iris_df['Name'] == 'Iris-virginica']['PetalWidth'].mean()],
    name='Iris Virginica',
    marker=dict(color='rgb(224,173,255)')) # kleur instellen

layout = go.Layout(
    title='Vergelijking van de gemiddelde kelk- en bloembladbreedte tussen drie typen Iris-bloemsoorten', # titel toevoegen
    barmode='group', # barmode instellen voor group
    xaxis=go.XAxis(
        title='Type blad', # label voor de X as
        type='category' # het type van de X as is categorisch
    ),
    yaxis = go.YAxis(
        title='centimeters (cm)', # label voor de Y as
    )
)

data = [setosa,versicolor,virginica] # de drie traces samenvoegen tot één lijst
fig = go.Figure(data=data, layout=layout)
iplot(fig)

### Toelichting
Ik heb ervoor gekozen om de gemiddelde breedtes van zowel het kelkblad als het bloemblad te vergelijken tussen de drie typen Iris-bloemsoorten. Met name omdat er duidelijk verschil te zien is tussen de drie soorten wat betreft deze twee bladbreedtes. Ook is er duidelijk onderscheid te zien tussen de Iris Setosa en de andere twee bloemsoorten.